html, body {
  margin: 0;
  height: 100%;

}


.home {
  overflow: hidden;
}


body {
  
  background: #2c1cf9;
  cursor: none;
  font-family: monospace;
}

.background-elements{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:0;
}


.bg-float{
  position:absolute;
  width:80px;
  opacity:0.9;
}

.f1{
  left:120px;
  top:260px;
}

.f2{
  left:260px;
  top:320px;
}

.f3{
  left:180px;
  top:420px;
}

.f4{
  left:320px;
  top:500px;
}

.bg-float{
  animation: float 6s ease-in-out infinite;
}

@keyframes float{
  0%{transform:translateY(0);}
  50%{transform:translateY(-12px);}
  100%{transform:translateY(0);}
}


/* PANEL IMÁGENES */
.panel {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  padding-right: 160px;
  z-index: 2;
}


.panel img {
  max-width: 700px;
  width: 100;
  opacity: 0.9;
  
}

.text-top,
.text-bottom{
  z-index:3;
}


.panel.active { 
opacity: 1; 

}


.panel-wrap{
  position:relative;
}

.text-top{
  position:absolute;
  top:10px;
  left:10px;
  color:white;
  font-family:'Space Mono', monospace;
}

.text-bottom{
  position:absolute;
  bottom:10px;
  right:10px;
  color:white;
  font-family:'Space Mono', monospace;
}



.home {
  overflow: hidden;
}

/* TEXTO */
.home::after {
  content: "scroll para activar · click para silencio";
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-size: 12px;
  font-family: monospace;
  color: white;

  background: black;
  padding: 6px 10px;
  border-radius: 2px;

  opacity: 0.85;
}


/* CURSOR */
#cursor {
  position: fixed;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  pointer-events: none;

  background: rgba(164, 234, 164, 0.7);
  mix-blend-mode: difference;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 9999;
}


.ascii-nav {
  position: fixed;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;   /* 👈 clave */
  gap: 800px;                 /* 👈 controla el espacio */
  z-index: 10;
}

/* caja */
.nav-box {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  opacity: 0.75;
  padding: 6px 0;
}

/* línea superior */
.nav-box::before {
  content: "^^^^^^^";
  display: block;
  text-align: center;
  margin-bottom: 4px;
  opacity: 0.6;
}

/* línea inferior */
.nav-box::after {
  content: "-------";
  display: block;
  text-align: center;
  margin-top: 4px;
  opacity: 0.6;
}

.nav-box:hover {
  opacity: 1;
}

.nav-box::before,
.nav-box::after {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.nav-line {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;

  text-shadow:
    1px 0 0 currentColor,
   -1px 0 0 currentColor;
}

.logo-link {
  position: fixed;
  top: 140px;
  left: 40px;
  z-index: 5;
  opacity: 0.85;
}

.logo-link img {
  width: 500px; /* ajusta */
  height: auto;
  display: block;
}

.logo-link:hover {
  opacity: 1;
}


.video-page {
  background: #000;
  color: white;
  margin: 0;
  min-height: 100vh;
}



.video-hero {
  padding: 120px 80px 80px 80px;
}

.video-title {
  font-size: 8vw;          /* escala con pantalla */
  font-weight: 700;
  margin: 0 0 80px 0;
  line-height: 0.9;
}

.video-layout {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}


.video-text {
  width: 250px;
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.7;
  margin-top: 750px; /* 👈 ajusta este valor */
}

.video-bottom {
  position: absolute;
  bottom: 80px;
  right: 80px;

  display: flex;
  align-items: flex-start;
  gap: 60px;
}

/* VIDEO PRINCIPAL */
.video-container video {
  width: 720px;
  max-width: 50vw;
  height: auto;
  display: block;
  margin-top: 300px;
}

/* CARRUSEL VERTICAL */
.video-carousel {
  position: relative;
  height: 500px;
  width: 180px;
  overflow: hidden;
 
 } 

.video-carousel-track {
  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: verticalScroll 20s linear infinite;
}

/* videos pequeños */
.video-carousel video {
  width: 160px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.video-carousel video:hover {
  opacity: 1;
}

/* animación */
@keyframes verticalScroll {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}


.video-extra {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.video-extra video {
  width: 900px;
  max-width: 80vw;
}

.video-360-section {
  margin-top: 900px; /* porque tu layout es absolute */
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

#viewer360 {
  width: 900px;
  height: 500px;
  background: black;

}

.video-360-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.side-text {
  width: 180px;
  font-size: 12px;
  line-height: 1.6;
  opacity: 0.6;
}



.ascii-divider {
  margin: 180px 0;
  text-align: center;
  font-family: monospace;
  color: white;
  opacity: 0.6;
}

.divider-line-1 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.divider-line-2 {
  font-size: 14px;
  letter-spacing: 6px;
  line-height: 1.8;
}

#viewer360,
#viewer360b {
  width: 900px;
  height: 500px;
  background: black;

}


