html, body {
  margin: 0;
  height: 100%;

}


.home {
  overflow: hidden;
}


body {
  
  background: #2c1cf9;
  cursor: none;
  font-family: monospace;
}

.background-elements{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:1;
}


.bg-wave{
  position:absolute;
  left:250px;
  top:10%;
  width:570px;
  opacity:0.7;

  animation: wavePulse 5s ease-in-out infinite;
}

@keyframes wavePulse{

  0%{
    transform:scale(0.9);
  }

  50%{
    transform:scale(1.2);
  }

  100%{
    transform:scale(0.9);
  }

}

.bg-float{
  position:absolute;
  left:100px;
  width:500px;
  opacity:0.9;
  
  animation: float 6s ease-in-out infinite;
}

@keyframes float{
  0%{transform:translateY(0);}
  50%{transform:translateY(-12px);}
  100%{transform:translateY(0);}
}


.f1{
  left:120px;
  top:460px;
}

.f2{
  left:260px;
  top:520px;
}

.f3{
  left:180px;
  top:620px;
}

.f4{
  left:320px;
  top:700px;
}



/* PANEL IMÁGENES */
.panel {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  padding-right: 160px;
  z-index: 2;
}


.panel img {
  max-width: 700px;
  width: 100%;
  opacity: 0.9;
  
}

.text-top,
.text-bottom{
  z-index:3;
}


.panel.active { 
opacity: 1; 

}


.panel-wrap{
  position:relative;
}

.text-top{
  position:absolute;
  top:-20px;
  left:10px;
  color:white;
  font-family:'Space Mono', monospace;
}

.text-bottom{
  position:absolute;
  bottom:-20px;
  right:10px;
  color:white;
  font-family:'Space Mono', monospace;
}



/* TEXTO */
.home::after {
  content: "clic - scroll para activar · clic para silencio";
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-size: 12px;
  font-family: monospace;
  color: white;

  background: black;
  padding: 6px 10px;
  border-radius: 2px;

  opacity: 0.85;
}


/* CURSOR */
#cursor {
  position: fixed;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  pointer-events: none;

  background: rgba(164, 234, 164, 0.7);
  mix-blend-mode: difference;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 9999;
}


.ascii-nav {
  position: fixed;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;   /* 👈 clave */
  gap: 800px;                 /* 👈 controla el espacio */
  z-index: 10;
}

/* caja */
.nav-box {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  opacity: 0.75;
  padding: 6px 0;
}

/* línea superior */
.nav-box::before {
  content: "^^^^^^^";
  display: block;
  text-align: center;
  margin-bottom: 4px;
  opacity: 0.6;
}

/* línea inferior */
.nav-box::after {
  content: "-------";
  display: block;
  text-align: center;
  margin-top: 4px;
  opacity: 0.6;
}

.nav-box:hover {
  opacity: 1;
}

.nav-box::before,
.nav-box::after {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.nav-line {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;

  text-shadow:
    1px 0 0 currentColor,
   -1px 0 0 currentColor;
}

.logo-link {
  position: fixed;
  top: 140px;
  left: 70px;
  z-index: 5;
  opacity: 0.85;
}

.logo-link img {
  width: 400px; /* ajusta */
  height: auto;
  display: block;
}

.logo-link:hover {
  opacity: 1;
}


.video-page {
  background: #000;
  color: white;
  margin: 0;
  min-height: 100vh;
}



.video-hero {
  padding: 120px 80px 80px 80px;
}

.video-title {
  font-size: 8vw;          /* escala con pantalla */
  font-weight: 700;
  margin: 0 0 80px 0;
  line-height: 0.9;
}

.video-layout {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}


.video-text {
  width: 250px;
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.7;
  margin-top: 750px; /* 👈 ajusta este valor */
}

.video-bottom {
  position: absolute;
  bottom: 80px;
  right: 80px;

  display: flex;
  align-items: flex-start;
  gap: 60px;
}

/* VIDEO PRINCIPAL */
.video-container video {
  width: 720px;
  max-width: 50vw;
  height: auto;
  display: block;
  margin-top: 300px;
}

/* CARRUSEL VERTICAL */
.video-carousel {
  position: relative;
  height: 500px;
  width: 180px;
  overflow: hidden;
 
 } 

.video-carousel-track {
  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: verticalScroll 20s linear infinite;
}

/* videos pequeños */
.video-carousel video {
  width: 160px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.video-carousel video:hover {
  opacity: 1;
}

/* animación */
@keyframes verticalScroll {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}



.video-360-section {
  margin-top: 120px; /* porque tu layout es absolute */
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.video-frame{
  width:900px;
  height:500px;
  background:black;
  overflow:hidden;
  position:relative;
}

/* VIDEO */
.video-frame video{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
  mix-blend-mode: screen;
}

.video-360-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.side-text {
  width: 180px;
  font-size: 12px;
  line-height: 1.6;
  opacity: 0.6;
}




.ascii-divider {
  margin: 260px 0 80px 0;
  text-align: center;
  font-family: monospace;
  color: white;
  opacity: 0.6;
}

.divider-line-1 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.divider-line-2 {
  font-size: 14px;
  letter-spacing: 6px;
  line-height: 1.8;
}

#viewer360,
#viewer360b {
  width: 900px;
  height: 500px;
  background: black;

}



/* ===== VIDEOS CIRCULARES ===== */

.circle-video-row{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:120px;

  margin:200px 0;
}

/* videos */
.circle-video{
  width:260px;
  height:260px;

  object-fit:cover;
  border-radius:50%;

  opacity:0;
  transform:scale(0.7);

  transition:
    opacity 1s ease,
    transform 1s ease;
}

/* aparece */
.circle-video.visible{
  opacity:1;
  transform:scale(1);
}

/* CONTENEDOR */
.video-circles{
  display:flex;
  justify-content:center;
  gap:80px;
  margin:200px 0;
}

/* CÍRCULO */
.circle-video{
  width:260px;
  height:260px;
  border-radius:50%;
  overflow:hidden;   /* 👈 corta el video */
  position:relative;
}

/* VIDEO */
.circle-video video{
  width:100%;
  height:100%;
  object-fit:cover; /* llena el círculo */
}

/* FEUDALISMO */

.feudalismo-section{
  width:100%;
  min-height:100vh;

  display:grid;
  grid-template-columns: 1.3fr 1fr 0.8fr;

  align-items:center;
  column-gap:80px;

  max-width:1400px;
  margin:0 auto;
  padding:120px 80px;
}


/* VIDEO IZQUIERDA */

.feudalismo-video-left{
  justify-self:start;
  width:100%;
  max-width:520px;
  display:block;
  aspect-ratio: 16 / 9;   /* ← CLAVE */
  object-fit: cover;

  
}

.feudalismo-video-left video{
  display:block;
  width:100%;
  height:auto;
  object-fit:cover;
}


/* TEXTO CENTRO */

.feudalismo-text{
  color:#63ff7a;
  font-family:monospace;
  text-align:left;
  hyphens:auto;

  justify-self:start;
  margin-left:40px;

  max-width:340px;
}


.fdlsm{
  font-size:72px;
  margin:0;
  letter-spacing:4px;
}

.dgtl{
  font-size:80px;
  margin:10px 0 20px;
}

.tags{
  display:flex;
  gap:40px;
  font-size:14px;
  margin:10px 0;
}

.feudalismo-text p{
  color:white;
  line-height:1.5;
  font-size:14px;
  
  text-align:justify;
  text-justify:inter-word;
}
}


/* VIDEO DERECHA */

.feudalismo-video{
  justify-self:end;
}

.feudalismo-video video{
  width:320px;
  height:auto;
  object-fit:cover;
}


/* EXTRA */

.mknk-text{
  color:red;
  line-height:1.5;
  font-size:34px;
}









